<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Vue After School </title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="courses.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body> 
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1> 
        </header>
        <button v-bind:disabled="cartItemAmount<1" v-on:click = 'showCheckout'>Checkout
            <i class="fa fa-shopping-cart"></i>
            {{cartItemAmount}}
            
        </button>

        <div> Sorted by: {{ selectedSortField }} - {{ selectOrder }} </div>


<div>
    <input type="radio" id="sortAsc" value="Ascending" v-model="selectOrder">
    <label for="sortAsc">Ascending</label>
    
    <input type="radio" id="sortDesc" value="Descending" v-model="selectOrder">
    <label for="sortDesc">Descending</label>
</div>


<div>
    <input type="radio" id="sortLocation" value="Location" v-model="selectedSortField">
    <label for="sortLocation">Location</label>
    
    <input type="radio" id="sortTitle" value="Title" v-model="selectedSortField">
    <label for="sortTitle">Title</label>
    
    <input type="radio" id="sortPrice" value="Price" v-model="selectedSortField">
    <label for="sortPrice">Price</label>
</div>

<main>
    <div v-if = 'showcourse'>
        <div v-for="course in sortedCourses" class="course-card">
            <figure>
                <i v-bind:class="course.icon"></i>
            </figure>
            <h2 v-text="course.title"> </h2>
            <p v-html="course.description"> </p>
            <!-- the double curly "moustache" syntax can be used instead of v-text -->
            <p v-html="course.Location"></p>

            <p>Price:{{course.price}} </p>
            <p>Inventory: {{ course.availableInventory }} </p>

            <button v-on:click="addToCart(course)" v-if="canAddToCart(course)"> Add to Cart </button>
            <!-- <button v-on:click="removeFromCart(course)" v-if="canAddToCart(course)"> Remove from cart </button> -->
            <span v-if="course.availableInventory<1">Sold out! </span>
            <span v-else-if="course.availableInventory-cartCount(course)<5"> Only {{course.availableInventory}} left! </span>
            <span v-else>Buy now!</span>

            <button disabled="disabled" v-else>Add to Cart</button>
                <div>
                    <span v-for="n in course.rating">★</span>
                    <span v-for="n in 5-course.rating">☆</span>
                </div>
        </div>
    </div>
<div v-else>  
    <h2>Checkout</h2>
    <div v-for="course in cart" class="course-card">
            <figure>
                <i v-bind:class="course.icon"></i>
            </figure>
            <h2 v-text="course.title"> </h2>
            <p v-html="course.description"> </p>
            <!-- the double curly "moustache" syntax can be used instead of v-text -->
            <p v-html="course.Location"></p>
            <p v-html="course.availableInventory"></p>

            <p>Price:{{course.price}} </p>
            <p>Inventory: {{ course.availableInventory }} </p>

            <button v-on:click="removeFromCart(course)" v-if="canAddToCart(course)"> Remove from cart </button>
            <span v-if="course.availableInventory<1">Sold out! </span>
            <span v-else-if="course.availableInventory-cartCount(course)<5"> Only {{course.availableInventory}} left! </span>
            <span v-else>Buy now!</span>

            <div>
                <span v-for="n in course.rating">★</span>
                <span v-for="n in 5-course.rating">☆</span>
            </div>
        </div>
    </div>

    <p>
        <strong>First Name:</strong>
        <input v-model.trim="order.firstName"/>
    </p>
    <p>
        <strong>Last Name:</strong>
        <input v-model.trim="order.lastName"/>
    </p>
        <p>
        <strong>Address:</strong> <input v-model="order.address"/>
    </p>
    <p>
        <strong>City:</strong> <input v-model="order.city"/>
    </p>
    <p>
        <strong>State:</strong>
            <select v-model="order.state">
                <option disabled value="">State</option>
                <option v-for="(state,key) in states" v-bind:value="state">{{key}}</option>
            </select>
    </p>
    <p>
        <strong>Zip/Postal Code</strong><input v-model.number="order.zip" type="number">
    </p>
    <p><input type="checkbox" id="subject" value="true" v-model="order.subject"v-bind:true-value="order.sendSubject" v-bind:false-value="order.dontSendSubject">
    <label for="subject"> Confirm Order?</label></p>
    

    <h2>Order Information</h2>
    <p>First Name: {{order.firstName}}</p>
    <p>Last Name: {{order.lastName}}</p>
    <p>Address: {{order.address}}</p>
    <p>City: {{order.city}}</p>
    <p>Zip: {{order.zip}}</p>
    <p>State: {{order.state}}</p>
    <p>Subject: {{order.subject}}</p>
    <p>Method:{{order.methodOfSorting}}</p>
    <button v-on:click="submitForm">Place Order</button>

</div> 
</main>
</div>
<!-- methods -->
<script type="text/javascript">
var webstore=new Vue({
    el:'#app',
    data:{
        sitename:'After School Activities!',
        courses:courses,
        cart:[],
        showcourse: true,
        selectedSortField:'Price',
        selectOrder:'Ascending',
        order:{
            firstName:'',
            lastName:'',
            address:'',
            city:'',
            zip:'',
            state:'',
            method:'Home',
            subject:false,

        },
        states:{
            AL:'Alabama',
            AR:'Arizona',
            CA:'California',
            NV:'Nevada'
        },
            
    },
        
        
    methods:{

        addToCart(course){
            this.cart.push(course);  
            course.availableInventory-=1;
        },
        removeFromCart(course){
            
            this.cart.pop(course);
            updateInventoryRemove();
            return this.cart
        },
        updateInventoryAdd(course){
            if(course.availableInventory>0){
                course.availableInventory-=1;
            };
            // return this.course.availableInventory;
        },

        updateInventoryRemove(){
            course.availableInventory=course.availableInventory+-1;
            return this.course.availableInventory;
        },

        updateInventoryRemove(course){
            course.availableInventory=course.availableInventory+1;
            return course.availableInventory;
        },
        showCheckout(){
            this.showcourse = this.showcourse ? false : true;
        },
        submitForm(){
            alert('Order submitted!');
        },
        canAddToCart(course){
            return course.availableInventory>0;
        },
        cartCount(id){
            let count=0;
            for(let i=0;i<this.cart.length;i++){
                if(this.cart[i]===id){
                    count++
                }
            }
            return count;
        }
        
    },
    computed:{
        cartItemAmount(){
            return this.cart.length;
        },
        
        sortedCourses(){
            let courseArray = [].concat(this.courses);
            courseArray.sort((a,b)=>{
                let option1, option2;
                switch(this.selectedSortField){
                    case 'Location':
                        option1 = a.location;
                        option2 = b.location;
                        break;
                    case 'Title':
                        option1 = a.title;
                        option2 = b.title;
                        break;
                    case 'Spaces':
                        option1= a.availableInventory;
                        option2=b.availableInventory;
                        break;
                    case 'Price':
                    default:
                        option1 = a.price;
                        option2 = b.price;
                }
                
                if (this.selectOrder === 'Ascending'){
                    return option1 > option2 ? 1 : (option1<option2 ? -1:0);
                }
                else{
                    return option1 < option2 ? 1 : (option1 > option2 ? -1:0);
                }

            });
            return courseArray;
        }

        
}
})
</script>
</body>
</html>
<!-- diff bw vcs's -->
<!-- diff bw delta based vs snap based -->
<!-- github is our git server -->